<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sw.newProject.mapper.BoardMapper">

    <select id="getBoardList" parameterType="String" resultType="com.sw.newProject.dto.BoardDto">
        SELECT * FROM
        <choose>
            <!-- 게시판 생성할 때마다 추가해야 CRUD 가능 -->
            <when test="boardId == 'travel'">travel</when>
        </choose>
        WHERE deleteYn = FALSE AND hiddenFl = FALSE
    </select>

    <insert id="doWrite" parameterType="com.sw.newProject.dto.BoardDto">
        INSERT INTO travel(memNo, writerNm, subject, contents, regDt) VALUES(#{memNo}, #{writerNm}, #{subject}, #{contents}, now())
    </insert>

    <select id="getBoardView" parameterType="java.util.HashMap">
        SELECT * FROM
        <choose>
            <!-- 게시판 생성할 때마다 추가해야 CRUD 가능 -->
            <when test="boardId == 'travel'">travel</when>
        </choose>
        WHERE boardNo = #{boardNo}
    </select>

    <update id="doUpdate" parameterType="java.util.HashMap">
        UPDATE
        <choose>
            <!-- 게시판 생성할 때마다 추가해야 CRUD 가능 -->
            <when test="boardId == 'travel'">travel</when>
        </choose>
        SET subject = #{boardDto.subject}, contents = #{boardDto.contents}
        WHERE boardNo = #{boardDto.boardNo}
    </update>
</mapper>