<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sw.newProject.mapper.FriendShipMapper">

    <select id="getSentRequest" parameterType="int" resultType="com.sw.newProject.dto.MemberDto">
        SELECT *
        FROM member
        WHERE memNo IN (SELECT fromMemNo
                        FROM friendShip
                        WHERE toMemNo = #{memNo} AND STATUS = 'REQUEST');
    </select>

    <insert id="createRequest" parameterType="com.sw.newProject.dto.FriendShipDto">
        INSERT INTO
            friendShip(toMemNo, fromMemNo, regDt)
        VALUES
            (#{toMemNo}, #{fromMemNo}, now())
    </insert>

    <select id="getStatus" parameterType="com.sw.newProject.dto.FriendShipDto" resultType="String">
        SELECT status
        FROM friendShip
        WHERE toMemNo = #{toMemNo} AND fromMemNo = #{fromMemNo}
    </select>

    <select id="getReceivedRequest" parameterType="int" resultType="com.sw.newProject.dto.MemberDto">
        SELECT *
        FROM member
        WHERE memNo IN (SELECT toMemNo
                        FROM friendShip
                        WHERE fromMemNo = #{memNo} AND STATUS = 'REQUEST');
    </select>

    <update id="changeStatus" parameterType="com.sw.newProject.dto.FriendShipDto">
        UPDATE friendShip
        SET status = #{status}
        WHERE toMemNo = #{toMemNo} AND fromMemNo = #{fromMemNo}
    </update>

    <select id="getRequest" parameterType="com.sw.newProject.dto.FriendShipDto">
        SELECT COUNT(*)
        FROM friendShip
        WHERE toMemNo = #{toMemNo} AND fromMemNo = #{fromMemNo}
    </select>

    <select id="getAlreadyAccept" parameterType="com.sw.newProject.dto.FriendShipDto">
        SELECT COUNT(*)
        FROM friendShip
        WHERE toMemNo = #{toMemNo} AND fromMemNo = #{fromMemNo} AND status = 'ACCEPT'
    </select>

    <select id="getAlreadyReject" parameterType="com.sw.newProject.dto.FriendShipDto">
        SELECT COUNT(*)
        FROM friendShip
        WHERE toMemNo = #{toMemNo} AND fromMemNo = #{fromMemNo} AND status = 'REJECT'
    </select>

    <select id="getFriendList" parameterType="int" resultType="String">
        SELECT friendList
        FROM member
        WHERE memNo = #{memNo}
    </select>

    <delete id="deleteFriendToMember" parameterType="com.sw.newProject.dto.FriendShipDto">
        UPDATE member
        SET friendList = JSON_REMOVE(friendList, CONCAT('$.', #{fromMemNo}))
        WHERE memNo = #{toMemNo}
    </delete>

    <delete id="deleteFriendFromMember" parameterType="com.sw.newProject.dto.FriendShipDto">
        UPDATE member
        SET friendList = JSON_REMOVE(friendList, CONCAT('$.', #{toMemNo}))
        WHERE memNo = #{fromMemNo}
    </delete>

    <delete id="cancelRequest" parameterType="com.sw.newProject.dto.FriendShipDto">
        DELETE
        FROM friendShip
        WHERE (toMemNo = #{toMemNo} AND fromMemNo = #{fromMemNo}) OR (toMemNo = #{fromMemNo} AND fromMemNo = #{toMemNo})
    </delete>

    <update id="addFriendFromMember" parameterType="com.sw.newProject.dto.FriendShipDto">
        UPDATE member
        SET friendList = JSON_INSERT(friendList, CONCAT('$.', #{toMemNo}), #{now})
        WHERE memNo = #{fromMemNo}
    </update>

    <update id="addFriendToMember" parameterType="com.sw.newProject.dto.FriendShipDto">
        UPDATE member
        SET friendList = JSON_INSERT(friendList, CONCAT('$.', #{fromMemNo}), #{now})
        WHERE memNo = #{toMemNo}
    </update>
</mapper>