<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sw.newProject.mapper.MemberMapper">

    <insert id="insertMember" parameterType="com.sw.newProject.dto.MemberDto">
        INSERT INTO member (memId, memPw, memNm, nickNm, address1, address2, zipCode, phone, email, profileImageName, deleteYn, regDt, modDt)
        VALUES (#{memId}, #{memPw}, #{memNm}, #{nickNm}, #{address1}, #{address2}, #{zipCode}, #{phone}, #{email}, #{profileImageName}, #{deleteYn}, now(), NULL)
    </insert>

    <select id="getAllMember" resultType="com.sw.newProject.dto.MemberDto">
        SELECT * FROM member WHERE deleteYn = FALSE;
    </select>

    <update id="updateMember" parameterType="com.sw.newProject.dto.MemberDto">
        UPDATE member
        SET memId = #{memId}, memPw = #{memPw}, memNm = #{memNm}, nickNm = #{nickNm}, comm = #{comm}, address1 = #{address1}, address2 = #{address2}, zipCode = #{zipCode}, phone = #{phone}, email = #{email}, profileImageName = #{profileImageName}
        WHERE memNo = #{memNo}
    </update>

    <select id="getMember" parameterType="int" resultType="com.sw.newProject.dto.MemberDto">
        SELECT memNo, memId, memNm, memPw, nickNm, comm, address1, address2, zipCode, phone, email, profileImageName, deleteYn, regDt, modDt FROM member WHERE memNo = #{memNo}
    </select>

    <update id="deleteMember" parameterType="Integer">
        UPDATE member SET deleteYn = TRUE WHERE memNo = #{memNo}
    </update>

    <select id="duplicationIdCheck" parameterType="String" resultType="java.lang.Long">
        SELECT count(memNo) FROM member WHERE memId = #{memId}
    </select>

    <select id="duplicationNickNmCheck" parameterType="String" resultType="java.lang.Long">
        SELECT count(memNo) FROM member WHERE nickNm = #{nickNm}
    </select>

    <select id="duplicationEmailCheck" parameterType="String" resultType="java.lang.Long">
        SELECT count(memNo) FROM member WHERE email = #{email}
    </select>

    <select id="validationMemId" parameterType="String" resultType="java.lang.Integer">
        SELECT memNo FROM member WHERE memId = #{memId}
    </select>

    <select id="validationMemPw" parameterType="String" resultType="java.lang.Integer">
        SELECT memNo FROM member WHERE memPw = #{memPw}
    </select>

    <select id="doLogin" parameterType="String" resultType="com.sw.newProject.dto.MemberDto">
        SELECT * FROM member WHERE memId = #{memId} AND memPw = #{memPw}
    </select>

    <select id="findId" parameterType="String" resultType="String">
        SELECT memId FROM member WHERE memNm = #{memNm} AND email = #{email}
    </select>

    <select id="findPw" parameterType="String" resultType="Integer">
        SELECT memNo FROM member WHERE memId = #{memId} AND email = #{email} AND memNm = #{memNm}
    </select>

    <update id="doResetPw" parameterType="com.sw.newProject.dto.DoResetPwDto">
        UPDATE member SET memPw = #{newPw} WHERE memNo = #{memNo}
    </update>

    <insert id="saveProfileImage" parameterType="com.sw.newProject.dto.UploadFileDto">
        INSERT INTO uploadFile(uploadFileName, storedFileName, regDt) VALUES(#{uploadFileName}, #{storedFileName}, now())
    </insert>
</mapper>
