<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sw.newProject.mapper.PostMapper">
    <select id="getPostList" parameterType="Integer" resultType="com.sw.newProject.dto.PostDto">
        SELECT * FROM post WHERE receiverMemNo = #{memNo} AND deleteByReceiver = FALSE
    </select>
    <select id="viewPost" parameterType="Integer" resultType="com.sw.newProject.dto.PostDto">
        SELECT * FROM post WHERE postNo = #{postNo}
    </select>
    <update id="doDelete" parameterType="Integer">
        UPDATE post SET deleteByReceiver = TRUE WHERE postNo = #{postNo}
    </update>
    <insert id="doWrite" parameterType="com.sw.newProject.dto.PostDto">
        INSERT INTO post(senderMemId, senderMemNo, receiverMemId, receiverMemNo, subject, contents) VALUES(#{senderMemId}, #{senderMemNo}, #{receiverMemId}, #{receiverMemNo}, #{subject}, #{contents})
    </insert>
    <select id="getMemNoOfMemId" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT memNo FROM member WHERE memId = #{memId}
    </select>
</mapper>