<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sw.newProject.mapper.ReplyMapper">
    <select id="getReply" parameterType="java.util.HashMap" resultType="com.sw.newProject.dto.ReplyDto">
        SELECT * FROM reply
        WHERE boardNo = #{boardNo} AND boardId = #{boardId} AND deleteYn = FALSE
        ORDER BY replyNo ASC, parentNo ASC, seqNo ASC
    </select>

    <insert id="doWrite" parameterType="com.sw.newProject.dto.ReplyDto">
        INSERT INTO reply(boardId, boardNo, memNo, contents, depth, seqNo, parentNo, regDt)
        VALUES (#{boardId}, #{boardNo}, #{memNo}, #{contents}, #{depth}, #{seqNo}, #{parentNo}, now())
    </insert>

    <update id="doDelete" parameterType="java.util.HashMap">
        UPDATE reply SET deleteYn = TRUE WHERE replyNo = #{replyNo}
    </update>

    <update id="doUpdate" parameterType="java.util.HashMap">
        UPDATE reply SET contents = #{contents} WHERE boardId = #{boardId} AND replyNo = #{replyNo}
    </update>

    <select id="getWriterNo" parameterType="Integer" resultType="Integer">
        SELECT memNo
        FROM
            <choose>
                <!-- 게시판 생성할 때마다 추가해야 CRUD 가능 -->
                <when test="boardId == 'travel'">travel</when>
            </choose>
        WHERE boardNo = #{boardNo}
    </select>

    <select id="getMaxReplySeqNo" parameterType="java.util.HashMap" resultType="Integer">
        SELECT IFNULL(MAX(seqNo), 0) + 1
        FROM reply
        WHERE parentNo = #{parentNo}
    </select>
</mapper>