<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sw.newProject.mapper.ReservationMapper">
    <select id="getReservationById" parameterType="java.lang.Integer">
        SELECT * FROM reservation WHERE memNo = #{memNo}
    </select>
    <insert id="createReservation" parameterType="com.sw.newProject.dto.ReservationDto">
        INSERT INTO reservation(placeId, rsvDt, rsvStatus, reqMsg, regDt) VALUES(#{placeId}, #{rsvDt}, #{rsvStatus}, #{reqMsg}, now())
    </insert>
    <update id="cancelReservation" parameterType="java.lang.Integer">
        UPDATE reservation SET RSVSTATUS = 'CANCELED' WHERE rsvNo = #{rsvNo}
    </update>
    <select id="viewReservation" parameterType="java.lang.Integer">
        SELECT * FROM reservation WHERE rsvNo = #{rsvNo}
    </select>
</mapper>