<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:if="${session.member}" href="/member/logout">Logout</a>
    <a th:unless="${session.member}" href="/member/join">Join</a>
    <a th:unless="${session.member}" href="/member/login">Login</a>


<p th:if="${session.member}" th:text="'로그인 사용자 : ' + ${session.member.memNm}"></p>
<a th:if="${session.member}" th:href="'/mypage'"> > 마이페이지 가기 </a><br>
<a th:if="${session.member}" th:href="'/member/delete'"> > 회원탈퇴 </a><br>
<a th:if="${session.member}" th:href="'/board/travel/list'"> > 여행게시판 가기 </a><br>
<a th:if="${session.member}" th:href="'/post/list'"> > 쪽지 읽기/쓰기 </a><br>
<p th:unless="${session.member}" th:text="'로그인 정보가 없습니다.'"></p>


</body>
</html>