.badge-dot {
    position: absolute;
    top: 20%;
    right: 90%;
    transform: translate(50%, -50%);
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    box-shadow: 0 0 0 2px white;
    display: none;
}

/* 드롭다운 컨테이너 */
.dropdown {
    position: relative;   /* 드롭다운 메뉴 위치 기준 */
    display: inline-block; /* 옆으로 배치 가능 */
    float: right;
    margin-right: 3rem;
}

/* 드롭다운 버튼 */
.dropbtn {
    background-color: #333;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover {
    background-color: #575757;
}

/* 드롭다운 내용 */
.dropdown-content {
    display: none; /* 기본은 숨김 */
    position: absolute;
    top: 100%; /* 버튼 바로 아래 */
    left: 0;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* hover 시 표시 */
.dropdown:hover .dropdown-content {
    display: block;
}

.sub-header {
    padding: 30px 20px;
    background: white;
    text-align: center;
    border-bottom: 1px solid #eee;
}